script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js', integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT", crossorigin="anonymous")
script
  | $(document).ready(function() { $(".navbar-burger").click(function() { $(".navbar-burger").toggleClass("is-active"); $(".navbar-menu").toggleClass("is-active");});});

footer.footer
  .content.has-text-centered
    p
      strong MOHRCONODE
      |  by Appelpitje
